:root {
   --col-bg: #fff;
   --col-on-bg: #333333;
   --col-on-bg-2: #222;
   --col-shade: #000;

   --col-pri: #272727;
   --col-accent-a: #5f6caf;
   --col-on-accent-a: #111;
   --font-a: arial, helvetica, sans-serif;
   --spacing: 1em;
   --anim-speed : 2ms;
   --col-code: #db7093;

   --colforefoot: #FFCC66;
   --colbgfoot: #336699;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    font-size: 0.6em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html ::selection {
    color: #fff;
    background: var(--col-pri);
}

body {
    font-size: 14px;
    line-height: 1.428571429;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--col-bg);
    margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}

a {
    background: transparent;
    color: var(--col-on-bg-2);
    text-decoration: none;
}

p {
    margin: 0 0 10px;
}

img {
    border: 0;
    vertical-align: middle;
}

@media (min-width: 1200px) {
.hidden-lg {
    display: none !important;
}
}

ul, ol {
  margin: 0 0 2em;
  padding:0;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
      width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.justify-content-around {
    justify-content: space-around!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, 
.col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, 
.col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, 
.col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, 
.col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, 
.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

code {
  color: var(--col-code);
}

@media (min-width: 992px) {
  .col-md-10 {
      width: 83.33333333333334%;
  }
}

@media (min-width: 992px) {
  .col-md-offset-1 {
      margin-left: 8.333333333333332%;
  }
}

@media (min-width: 768px) {
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}

@media (min-width: 992px) {
.col-md-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;}
}
}

.logo{
    display: block;
    margin: 5px;
    opacity: .8;
    border-radius: 50px;
}

footer{
    background-color:var(--colbgfoot);
    color: var(--colforefoot);
}

p {
  font-size: 1em;
  line-height: 24px;
  color: #757575;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-rendering: optimizeLegibility;
    margin-top: 0;
    margin-bottom: 1.07143rem;
    line-height: 1.4;
    color: var(--col-pri);
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
  color: var(--col-pri);
  line-height: 28px;
}
h4 {
  font-size: 30px;
  color: var(--col-pri);
  font-weight: 300;
}

.site-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 400ms;
  background:url('../images/header-bg.jpg');
  background-size: contain;
}

.main-header {
	overflow: hidden;
	background-color: rgba(0,0,0,.8);
}

.site-header .inner-header {
  padding: 0 70px;
}

.site-header .main-header .logo a {
  color: #fff;
  font-family: 'Audiowide', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
}
.header-right-toggle {
  padding: 15px 0 15px 30px;
}
.header-right-toggle a {
  color: var(--col-pri);
}
a.side-menu-button {
  text-transform: uppercase;
  font-weight: 700;
  color: var(--col-pri);
}
a.side-menu-button i {
  margin-right: 6px;
}
nav.main-navigation {
  position: relative;
  z-index: 20;
}
nav.main-navigation ul li {
  position: relative;
  display: inline-block;
  padding: 10px;
}

nav.main-navigation ul a {
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  display: block;
  padding: 15px 10px;
}
nav.main-navigation ul a i {
  margin-left: 7px;
}

.main-menu-inner {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.main-menu-container {
  position: relative;
  overflow: hidden;
}
.main-menu-push {
  position: relative;
  left: 0;
  z-index: 9999;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.footer {
  	padding: 40px 0;
    background: #222;
    color: #ccc;
}

.footer a{
  color:#757575;;
}

.footer a:hover{
  color:#78cb01;
}

.socials li{
  display: inline-block;
}

.socials li a{
  padding-right:20px;
  font-size:1.2em;
}
.links {
    margin-bottom: 40px;
	
}
.links h4,.footer h4
{
color: var(--col-bg);
}

.main-menu-container {
	min-width: 60em;
}

blockquote cite {
  font-size : .7em;
}

.button {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    font-family: Raleway, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin-top:10px;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 0.35714rem;
    padding-right: 1.71429rem;
    padding-bottom: 0.42857rem;
    padding-left: 1.71429rem;
    font-size: 1.14286rem;
    transition: background-color 300ms ease-out;
}

.blog-posts .section-heading {
  padding-bottom: 10px;
}
@media (max-width: 991px) {
  .blog-item {
    padding: 30px 0px;
  }
}
.blog-item h3 {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.blog-item h3 a {
  color: var(--col-pri);
}
.blog-item h3 a:hover {
  color: #000;
}
.blog-item img {
  width: 100%;
  max-width: 100%;
  background-size: cover;
  overflow: hidden!important;
}
.blog-item img:hover {
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.blog-item span {
  font-size: 13px;
  color: #9e9e9e;
}
.blog-item span a {
  color: #9e9e9e;
}
.blog-item p {
  padding-top: 15px;
}
.blog-item a {
  color: #757575;
}
.blog-item a:hover {
  color: var(--col-pri);
}
.blog-item .read-more {
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  width: 100%;
  text-align: right;
}
.blog-item .read-more a {
  color: #aeaeae;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-align: right;
}
.blog-item .read-more a:hover {
  color: var(--col-pri);
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.blog-single > .container {
	margin: 40px auto;
}

.blog-single img {
  max-width: 100%;
  background-size: cover;
  overflow: hidden!important;
}
.topic {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px 0px 20px 0px;
}
.topic a {
  color: #000 !important;
}
.topic a:hover {
  color: #000;
}

.blog-single-item a:hover {
    color: var(--col-pri);
}

.blog-single-item span a {
    color: #9e9e9e;
}
.blog-single-item a {
    color: #757575;
}

.img-container {
	background-color: var(--col-shade);
}

.blog-single-item img {
  max-width: 100%;
  margin: 0 auto;
  opacity: .8;
  border: 2px solid white;
  display: block;
  background-size: cover;
  overflow: hidden!important;
}
.blog-single-item span {
  font-size: 13px;
  color: #9e9e9e;
}
.blog-single-item span a {
  color: #9e9e9e;
}

.blog-single-item p em {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #aaa;
}
.blog-single-item p em i {
  margin-left: 30px;
  margin-right: 15px;
  color: #ffffff;
  background-color: var(--col-pri);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
}

.blog-single-content, .module {
  background-color: #f2f2f2;
  padding: 15px 35px 35px 35px;
}

aside.container .module {
	padding: 30px 0;
}

.blog-single-content .group {
	padding-top: 20px;
	padding-bottom: 20px;
}

.blog-single-content .share-post {
  border-top: 1px solid #dddddd;
  padding-top: 30px;
  margin-top: 30px;
}
.blog-single-content .share-post span {
  color: #757575;
}

/*ASIDE*/

.related-stories {
	background-color: #f2f2f2;
	padding: 15px 35px 35px 35px;
}

.widget-item {
  margin-left: 30px;
  margin-bottom: 50px;
}

.widget-item {
    padding: 60px 30px;
    margin: 0px;
  }

.widget-item h2 {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--col-pri);
}

.widget-item ul.recent-item a {
  color: #4e4e4e;
}
.widget-item ul.recent-item a:hover {
  color: var(--col-pri);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.widget-item ul.recent-item li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.widget-item ul.recent-item li .post-title {
  font-size: 17px;
}
.widget-item ul.recent-item li .post-info {
  display: block;
  margin-top: 5px;
  font-size: 13px;
  color: #9e9e9e;
}

.widget-item img {
  width: 70px;
  height: auto;
  float: left;
  overflow: hidden;
  margin-right: 15px;
}

.page-heading {
  padding: 70px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-heading .page-name {
  position: relative;
  margin-top: 5%;
  text-align: center;
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
}
.page-heading .page-name h1 {
  background-color: rgba(250, 250, 250, 0.9);
  display: inline-block;
  padding: 40px 80px 60px 80px;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 10px solid rgba(0, 0, 0, 0.1);
}
.page-heading .page-name span {
  text-align: center;
  text-transform: uppercase;
  color: #757575;
  font-size: 12px;
  display: block;
  position: relative;
  margin-top: -75px;
  padding-bottom: 50px;
}
.topic {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 0px 20px 0px;
}
  .prev-btn {
    width: 150px;
}
  .next-btn {
    width: 150px;
  }

.prev-btn i {
  margin-right: 10px;
}
.prev-btn:hover {
  color: #ffffff;
}

.next-btn, .prev-btn {
  margin-top: 60px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background: var(--col-pri);
  color: #ffffff !important;
  width: 180px;
  height: 60px;
  text-align: center;
  display: block;
  line-height: 60px;
}
